
<div class="float-left border-right border-bottom text-muted" style="height:500px; width:150px; background-color: ghostwhite">
    <div align="center">
        <p>@Html.ActionLink("Orders", "Index", "Orders")</p>
        <p>@Html.ActionLink("Customers", "Index", "Customers")</p>
        <p>@Html.ActionLink("CargoCategories", "Index", "CargoCategories")</p>
        <p>@Html.ActionLink("Cargoes", "Index", "Cargoes")</p>
        <p>@Html.ActionLink("Transport", "Index", "Transport")</p>
        <p>@Html.ActionLink("Routes", "Index", "Routes")</p>
    </div>
</div>